@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

html {
  text-align: center;
  background-color: black;
}

.input {
  width: 35%;
  background-color: transparent;
  border: 1.5px #ffffff solid;
  border-radius: 10px;
  font-size: 14px;
  padding: 12px;
  text-align: center;
  color: black;
  font-family: "Prompt";
  background-color: white;
  outline: none;

  transition: hover .2s;
}

h1 {
  color: white;
  font-family: "Prompt";
}

.shortcuts  {
  width: 100px;
  height: 100px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 10px 1px 1px 25px;
  border-radius: 5px;
  text-align: center;
  font-family: "Prompt";
  text-overflow: hidden;
  margin-left: 550px
}

h4 {
  color: white;
  font-family: "Prompt";
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.glowing-text {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff;
}

.button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #FFF;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0.5px;
  transition: all 0.3s ease;
}