html {
  text-align: center;
  background-color: #1c2020
}

.input {
  width: 35%;
  background-color: transparent;
  border: 1.5px #ffffff solid;
  border-radius: 10px;
  font-size: 14px;
  padding: 12px;
  text-align: center;
  color: black;
  font-family: monospace;
  background-color: white;
  outline: none;

  transition: hover .2s;
}

h1 {
  color: white;
  font-family: monospace;
}

h4 {
  color: white;
  font-family: monospace;
}

.a {
  background-color: #FFF;
  color: #000000;
  cursor: pointer;
  margin: 0.5px;
  transition: all 0.3s ease;
  font-family: monospace
}

.a:hover {
  transform: scale(1.05);
}

.row {
	text-align: center;
	font-size: 1.3em;
}

a {
    font-family: monospace;
  }