html {
  text-align: center;
  background-color: #1c2020
}

h1 {
  color: white;
  font-family: monospace;
}

h4 {
  color: white;
  font-family: monospace;
}

.a {
  background-color: #FFF;
  color: #000000;
  cursor: pointer;
  margin: 0.5px;
  transition: all 0.3s ease;
  font-family: monospace
}

.a:hover {
  transform: scale(1.05);
}

.row {
	text-align: center;
	font-size: 1.3em;
}

a {
    font-family: monospace;
      color: #FFFFFF;
      text-decoration: none;
  }
    
    a:hover {
      text-decoration: underline;
    }

  hr.short-centered {
    margin: 0 auto;
    width: 50%;
    height: 2.5px;
    border: none;
    background-color: #ffffff;
    position: relative;
}

.image-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.image-container a img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid #fff;
} 

input {
    width: 100%;
    background-color: transparent;
    border: 1.5px #000000 solid;
    border-radius: 5px;
    font-size: 14px;
    padding: 12px;
    text-align: center;
    color: white;
    outline: none;
  
    transition: color;
    transition-duration: 100ms;
}